@import "../variables.module.scss";

.practiceAreasTitle {
  font-family: "Garamond", serif;
  color: white !important;
  margin-top: 25vh;
}
.practiceAreasSubtitle {
  font-family: "Alegreya Sans", serif;
  color: white !important;
  text-align: justify;
  margin-top: 7vh;
  margin-bottom: 41vh !important;
}
.practiceAreasRow {
  background-color: $secondary-color !important;
}
.practiceAreasRow2 {
  margin-bottom: 10%;
}
.practiceAreasCollapse {
  background-color: $primary-color !important;
  // color: white!important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: white;
  font-family: "Garamond", serif;
}
.ant-collapse .ant-collapse-content {
  color: white;
  font-family: "Alegreya Sans", serif;
}

.ant-collapse-header-text {
  font-size: 20px !important;
}
.practiceAreasIcon{
    margin-right: 2%;
}
